body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.flexible-Container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 13%;
    padding-top: 5%;
}
.intro-title{
    margin-top: 30px;
    font-size: 25px;
}
.accent-line{
    padding-left: 10px;
    border-left: 6px solid;
    height: 100px;
    border-image: linear-gradient(#af1bff, #8633ff);
    border-image-slice: 1;
    line-height: 1.4;
}
.accent-color{
    color: #8633ff;
}
.intro-para{
    margin-bottom: 40px;
    line-height: 1.6;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg,#af1bff, #8633ff);
    padding: 10px 30px;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    font-size: 17px;
    transition-property: font-size;
    transition-duration: 1s;
    transition-delay: 0s;
}
.button:hover{
    background-image: linear-gradient(45deg,#954fff, #be46ff);
    color: white;
    font-size: 19px;
}
.small-text{
    margin-top: 50px;
    font-size: smaller;
}
.dp{
    width: 75%;
}
.secondHeader{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
    font-weight: 900;
}
.three-item{
    padding-left: 12%;
    padding-right: 12%;
    margin-top: 70px;
}
.three-item img{
    width: 100%;
}
#item1{
    background-image: linear-gradient(-45deg, #cb6bff, #dc9bff);
    width: 750px;
    margin: 0 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-radius: 25px;
    line-height: 1.4;
}
#item2{
    background-image: linear-gradient(-45deg, #9e00f3, #d588ff);
    width: 750px;
    margin: 0 30px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-radius: 25px;
    line-height: 1.4;
}
#item3{
    background-image: linear-gradient(-45deg, #440069, #d588ff);
    width: 750px;
    margin: 0 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 4%;
    border-radius: 15px;
    line-height: 1.4;
}
.learning-bg{
    background-image: url(/images/shapes/shape-7.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-size: 15%;
    margin-top: 100px;
}
.learningImage{
    width: 110%;
}
.learning-head{
    padding-right: 9%;
    padding-left: 8%;
    margin-top: 100px;
}
.learning-para{
    margin-bottom: 50px;
    line-height: 1.6;
}
.helping-bg{
    background-image: url(/images/shapes/shape-1.png);
    background-position: 93% 100%;
    background-repeat: no-repeat;
    background-size: 15%;
}
.newWidth{
    width: 90%;
}
.helping-head{
    padding-right: 5%;
    padding-left: 13%;
    margin-top: 50px;
}
.helping-para{
    margin-bottom: 50px;
    line-height: 1.6;
}
.helpingImage{
    width: 55%;
    padding-left: 15%;
}
.creative-section{
    background-image: linear-gradient(135deg,#000000, #8633ff);
    width: 100%;
    height: 800px;
    margin-top: 100px;
}
.lets-work{
    font-size: 70px;
    color:#ffffff;
    position: relative;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    text-align: center;
    width: 60%;
}
.box{
    text-align: center;
    margin-top: 350px;
}
.popup{
    margin: 100px auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    width: 30%;
    height: 18%;
    position: relative;
    transition: all 1s ease-in-out;
}
.popup h2{
    text-align: center;
    margin-top: 0;
    color: #be46ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.popup .close{
    position: absolute;
    top: 10px;
    right: 20px;
    transition: all 100ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.popup .close:hover{
    color: #be46ff;
}
.popup .content{
    max-height: 30%;
    text-align: center;
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
@media screen and (max-width: 700px){
    .box{
      width: 100%;
}
    .popup{
      width: 100%;
    }
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    height: 190px;
}
footer h1{
    padding-top: 35px;
    font-size: 40px;
}
footer p{
    margin-top: 50px;
    font-weight:100
}